<template>
  <div>
    <HelloWorld />
    <NuxtPage />
  </div>
</template>

<script setup>
import './assets/style/tailwind.scss'
</script>

<script>
export default {
  data() {
    return {
      show: false
    }
  }
}
</script>
