<template>
  <div>
    <div class="text-green-500">
      Homepage
    </div>
    <FormComponent />
    <FormComposition />
    <!-- <SearchAlgolia /> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false
    }
  }
}
</script>
